JOB_NAME=my-model-s3-sync-job
PVC_CLAIM_NAME=my-model-pvc
SERVICE_ACCOUNT_NAME=hfsa
S3_CREDENTIALS_SECRET=my-model-s3-credentials
S3_URI=s3://my-models-bucket/path/to/my-model/
MOUNT_PATH=/mnt/models
STORAGE_INITIALIZER_IMAGE=quay.io/opendatahub/kserve-storage-initializer:v0.15-latest
HF_HUB_DISABLE_TELEMETRY=1
CPU_REQUEST=1
MEMORY_REQUEST=20Gi
CPU_LIMIT=1
MEMORY_LIMIT=100Gi
